{% extends "layout.html" %}
{% block content %}

<p class="title">Universidad Gerardo Barrios</p>
<br>
<p class="subtitle"><strong>Historia de la UGB</strong></p>

  <p><strong>La Universidad Gerardo Barrios (UGB)</strong> fue fundada el 5 de diciembre de 1981 en el Centro Histórico de la ciudad de San Miguel en El Salvador. 
  Su actual sede central se ubicó en la casa donde nació Juan José Cañas, compositor de la letra del Himno Nacional de El Salvador.</p>

  <p>La universidad surgió con el lema: “Hacia una formación profesional, humana, responsable y actualizada”, dio inicio a sus actividades educativas con cuatro facultades 
  y ocho carreras en 1982 en la ciudad de San Miguel; en 1986 se apertura el Centro Regional de Usulután con nueve carreras. La UGB en los primeros diez años de su historia 
  ofertó once carreras.</p>

 <p><strong>En 1988 </strong> la universidad avanza a la era digital y adquiere las primeras computadoras que permitieron brindar un servicio educativo actualizado y representó 
 un crecimiento importante en la matrícula estudiantil, de 270 que ingresaron en 1982 se incrementó a 989 estudiantes en 1990, <strong>logrando graduarse 342 profesionales</strong> quienes le 
 dieron un gran impulso a la región.</p>

<p>En la década de los noventa se consolida el proyecto educativo UGB, adquiriendo un inmueble para la construcción del campus del Centro Regional de Usulután y los terrenos para 
el campus de San Miguel bajo el concepto de respetar y fortalecer el medio ambiente.Para 1996, la implementación de la nueva Ley de Educación Superior orienta a la adecuación de 
nuevos estatutos para la universidad y en 1997 se reorganiza en San Miguel el Departamento de Investigación y Proyección Social que da origen al Instituto de Opinión e Investigación.
</p>

<p><strong>En 1999</strong>, inicia su transmisión la Radio UGB, dirigida por estudiantes, con un formato juvenil y educativo al servicio de la comunidad universitaria. El laboratorio de 
internet abre sus puertas y se asigna al personal de la universidad una computadora para la realización de sus tareas académicas y administrativas para mejorar la eficiencia 
en los procesos.
</p>
<p><strong>Para el año 2000</strong>, la universidad se une al Manifiesto 2000, una carta compromiso por la No Violencia firmada por más de 3,700 participantes y que realizó una gran marcha
 por la paz con la participación de personal docente, administrativos y estudiantes.
.</p>

<p>Entre las figuras políticas notables originarias de este departamento se encuentran el Capitán General Gerardo Barrios, y el Capitán General Miguel Santín del Castillo,
 quienes en sendos periodos presidenciales hicieron contribuciones importantes como la introducción de la educación normal y las escuelas públicas; y el fomento al cultivo 
 industrializado del café.</p>

<p class="subtitle"><strong>Enlances para los estudiantes</strong></p>

<ul>
    <li><a href="https://ugb.edu.sv/" target="_blank">Universidad Gerardo Barrios</a></li>
    <li><a href="https://ugb.instructure.com/login/canvas" target="_blank">Portal de Canvas</a></li>
    <li><a href="https://estudiantes.ugb.edu.sv/Login?ReturnUrl=%2F" target="_blank">Portal del estudiante</a></li>
</ul>

<figure>
    <img src="https://cdn-pro.elsalvador.com/wp-content/uploads/2021/01/ugb-1.jpg">
    <img src="https://cdn-pro.elsalvador.com/wp-content/uploads/2020/12/Universidad-Gerardo-Barrios.jpg">
    <figcaption>
      Figure 1: Universidad Gerardo Barrios
    </figcaption>
  </figure>


<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="subtitle"><strong>MISIÓN</strong></p>
      <div class="content">
        <p><strong>MISIÓN</strong> | Somos la universidad que <strong>gestiona el conocimiento</strong> por nuestra contribución con el desarrollo científico,
       económico y social de El Salvador, enfocada a satisfacer las necesidades de estudiantes, comunidades, profesionales y empresas, mediante 
       la docencia, investigación y proyección social.</p>
      </div>

    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="subtitle"><strong>VISIÓN</strong></p>
      <div class="content">
        <p><strong>VISIÓN</strong> | Ser una universidad referente a nivel Nacional e Internacional por su contribución al desarrollo científico, económico y social de 
        El Salvador.</p>
      </div>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="subtitle"><strong>VALORES INSTITUCIONALES</strong></p>
      <div class="content">
        <p>        
          <ul>
    <li>Confianza.</li>
    <li>Respeto.</li>
    <li>Innovación.</li>
    <li>Integridad.</li>
  </ul>
        </p>
      </div>
    </article>
  </div>
</div>
</div>


 
{% endblock %}