{% extends "layout.html" %}
{% block content %}

<div class="card">
  <div class="card-image">
    
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://istos.dev/Foto2.jpg" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Fernando Ruben Chevez Sanchez</p>
        <p class="subtitle is-6">@FRChevez</p>
      </div>
    </div>

    <div class="content">
     Me llamo Fernando Ruben tengo 21 años de edad, actualmente me encuentro en el último ciclo de la carrera de Técnico en Ingeniería en Sistemas y Redes Informáticas. 
     <br>
     Me encanta la programación es una de las areas de mi carrera que mas disfruto y aprender Python ha sido un reto que lo he visto como una oportunidad de aprender más.
      <br>
      <br>
      <time datetime="10-18-2021">12:00 PM - 18 Octubre 2021</time>
    </div>
  </div>
</div>
<br>
<div class="card">
  <div class="card-image">
   
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://istos.dev/Foto1.jpeg" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Rene Orlando Monterrosa Santos</p>
        <p class="subtitle is-6">@ROMonterrosa</p>
      </div>
    </div>

    <div class="content">
      Mi nombre es Orlando Monterrosa, tengo 26 años y estudio Tecnico en ingeniería en sistemas y redes informáticas en la Universida Gerardo Barrios.
      <br>
      Me gusta el areá de data science, bases de datos y he aprendindo bastante realizando las actividades universitarias.
      <br>
      <br>
      <time datetime="10-18-2021">12:00 PM - 18 Octubre 2021</time>
    </div>
  </div>
</div>

{% endblock %}