{% extends "layout.html" %}
{% block content %}

<div class="content">
  <h1>Departamento de San Miguel El Salvador</h1>

  <p><strong>San Miguel</strong> es un departamento de El Salvador. Su cabecera departamental es <strong>San Miguel</strong>, ciudad que se encuentra a 138 km de San Salvador. 
  Limita al norte con la República de Honduras; al este con los departamentos de Morazán y La Unión; al oeste con los departamentos de Cabañas y Usulután; y al sur con el 
  océano Pacífico. <strong>Cubre un área de 2.077,1 km²</strong> y tiene una población que sobrepasa los 480.000 habitantes. Fue declarado departamento el 12 de junio de 1824. Originalmente, 
  el departamento de <strong>San Miguel</strong>, abarcaba todo el territorio que hoy forma la Zona Oriental de El Salvador, teniendo como frontera oeste al río Lempa; al norte y este limitaba 
  con Honduras; al sureste con el Golfo de Fonseca; y por el sur limitaba con el océano Pacífico</p>

  <h2>Historia</h2>

  <p>El territorio fue poblado originalmente por grupos lencas. Tras la fundación de la villa de <strong>San Salvador en 1525</strong>, los españoles encomendaron al capitán Luis de Moscoso 
  la fundación de San Miguel de la Frontera, la cual tuvo lugar en 1530.</p>

 <p><strong>En 1865</strong>, durante el Gobierno de Francisco Dueñas, fue determinado que el departamento redujera su dimensión y se creara a expensas del territorio los departamentos de La Unión 
  y Usulután.</p>

<p>Entre las figuras políticas notables originarias de este departamento se encuentran el Capitán General Gerardo Barrios, y el Capitán General Miguel Santín del Castillo,
 quienes en sendos periodos presidenciales hicieron contribuciones importantes como la introducción de la educación normal y las escuelas públicas; y el fomento al cultivo 
 industrializado del café.</p>

  <h3>Hidrografía</h3>

  <p>Ríos más importantes por su caudal y longitud: </p>
  <ul>
    <li>Torola y sus afluentes: Jalalá, Chorosco, Cañas, Riachuelo y Carolina.</li>
    <li>Río Lempa y sus afluentes por la margen izquierda.</li>
    <li>La Vega y El Pulido.</li>
    <li>Grande de San Miguel y sus afluentes: Papalón, Jute, Miraflores, Huiscoyol, Anchila, Méndez, Ereguayquín y Yamabal. </li>
    <li>Sirigual o Galdámez. </li>
    <li>Las Marías </li>
    <li>El Chorro, San Antonio y Gualozo que desemboca en el Océano Pacífico. </li>
  </ul>

  <h3>Lagunas</h3>

  <ul>
    <li>Olomega.</li>
    <li>El Jocotal.</li>
    <li>San Juan El Gozo.</li>
    <li>Aramuaca.</li>
  </ul>

  <h3>Turismo</h3>
  <p><dd>Entre los sitios de turismo más notables se encuentran la playa del Cuco; el turicentro “Altos de La Cueva”; Parque Recreativo Montegrande; 
  Sendero "Posada de los Pájaros" (enlace roto disponible en Internet Archive; véase el historial, la primera versión y la última). , Parque recreativo
   AQUA PARK La aventura del mono ruinas arqueológicas de Moncagua, Quelepa y Uluazapa; y los ausoles de Chinameca, San Jorge y Carolina.</dd></p>

  <p><dd>En cuanto a los deportes, San Miguel es representado en la Primera División de El Salvador por el Club Deportivo Águila, entidad que ha logrado un total de 16 títulos. 
  También tiene su asiento el Club Deportivo Dragón quien se encuentra en la segunda División del Fútbol Salvadoreño.</dd></p>

  <p><dd>Por otro lado, el Carnaval de San Miguel es uno de los festejos populares más importantes de El Salvador que tiene lugar, cada mes de noviembre, 
  durante las fiestas patronales de la ciudad cabecera.</dd></p>

  <figure>
    <img src="https://cdn-pro.elsalvador.com/wp-content/uploads/2017/01/30185231/1476487127743.jpg">
     <figcaption>
      Figure 1: Catedral de San Miguel por dentro
    </figcaption>
    <br>
    <img src="https://cdn-pro.elsalvador.com/wp-content/uploads/2017/01/30185217/1476487127734.jpg">
    <figcaption>
      Figure 2: Catedral de San Miguel por fuera
    </figcaption>
  </figure>

  <h3>Educación</h3>

  <p>La ciudad de San Miguel cuenta con un buen sistema educativo tanto en la educación básica y media del sector público y privado. 
  A nivel universitario, se encuentran las siguientes instituciones: </p>
  <ul>
    <li><a href="https://ugb.edu.sv/" target="_blank">Universidad Gerardo Barrios</a> (UGB)</li>
    <li><a href="https://www.univo.edu.sv/" target="_blank">Universidad de Oriente</a> (UNIVO)</li>
    <li><a href="https://www.ues.edu.sv/" target="_blank">Universidad de El Salvador</a> (UES) o Facultad Multidisciplinaria de Oriente.</li>
    <li><a href="https://www.unab.edu.sv/" target="_blank">Universidad Dr. Andrés Bello</a> (UNAB) </li>
    <li><a href="https://www.itca.edu.sv/" target="_blank">Escuela Especializada en Ingeniería</a> (Itca-Fepade)</li>
    <li><a href="https://www.uma.edu.sv/" target="_blank">Universidad Modular Abierta </a> (UMA)</li>
  </ul>

{% endblock %}